*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    position:sticky;
}

nav a{
    margin:0;
    padding: 0;
    color: black;
    text-decoration: none;
}
.app {

}

.navigation-container {
    display: flex;
    height: calc(100% - 150px);
    background-color: white;
    position: sticky;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.news, .follows {
    display: flex;
    height: auto;
    background-color: white;
    position: sticky;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.application-area {
    background-color: lightgray;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.profile-bg img {

}